extends ../node_modules/jade-bootstrap/layouts/starter

append styles
    link(href='/stylesheets/index.min.css', rel='stylesheet')

append body
    h1.title(style={ 'text-align' : 'center' }) Welcome to Alduin!
    h2(style={ 'text-align' : 'center' }) Our site is currently in development, but feel free to check out our DMs!
    div#dm-list
    script(src='javascripts/index.min.js')