* {
  font-family: 'Yatra One', cursive;
}

body {
  padding: 50px;
  font: 14px 'Yatra One', cursive;
  background-color: rgb(238, 238, 238);
}

a {
  text-decoration: none;
  color: #000000;
}

.title {
  font-size: 4em;
}

.card {
  border-radius: 3px;
  border: 1px solid #eee;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #fffefe;

  h1, h2, h3, h4, h5 {
    &:first-child {
      margin-top: 0;
    }
  }
}

.btn {
  font-size: 1.5em;
  background-color: rgb(0, 182, 255);
  color: #fff;

  &:hover {
    background-color: rgb(0, 160, 212);
    color: #fff;
  }
}

// Search used in html as such <input id="specific-id-for-awesomeplete" class="search" data-autofirst="true" type="text" name="search" placeholder="Search..">
.search {
  width: 325%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 12px 20px 12px 40px;
  background-image: url('/images/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}